@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply h-full min-h-screen w-full;
  }

  body {
    @apply m-0 overflow-x-hidden bg-slate-950 text-slate-100 antialiased;
  }
}
